body{
    margin-top:20px;
    color: #616f80;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(197, 197, 210, 0.44);
}


li{
	list-style-type: none;
}


.avatar-xs {
    height: 2.3rem;
    width: 2.3rem;
}
#title{
    color: #52565b;
}
#title:hover{
    color: #06BBCC;
}

#hit ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#hit li {
  display: none;
}
#hit-comment{
  height: 50px;
  overflow: auto; /* 내용이 넘칠 경우 스크롤바를 추가합니다 */
}

#hit-likes{
  height: 50px;
  overflow: auto; /* 내용이 넘칠 경우 스크롤바를 추가합니다 */
}
#hit-comViewCount{
  height: 50px;
  overflow: auto; /* 내용이 넘칠 경우 스크롤바를 추가합니다 */
}

#hit-comment a{
  color: #52565b;
}
#hit-likes a{
  color: #52565b;
}
#hit-comViewCount a{
  color: #52565b;
}

.floating-button {
  position: fixed;
  right: 40px;
  bottom: 100px;
  z-index: 999;
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  width: 60px;
  height: 60px;
  transition: all 0.3s ease-in-out;
}

.floating-button:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.floating-button svg {
  width: 30px;
  height: 30px;
  margin: 15px;
}

.floating-button:hover .button-text {
    display: block;
  }
.button-text {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}